:root {
    --color-secondary: #0074D9;
    --color-secondary-accent: #0074D9;
    --width-content: 920px;
    --width-card: 250px;
    --font-family: "Lato", sans-serif;
}

.feather {
  width: 0.8em;
  height: 0.8em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

div.social {
  margin-top: 4em;
}

div.social > a {
  margin: 8px;
  font-size: 30px;
}

main > article > p {
  text-align: justify;
}

.highlight > pre {
  max-width: 100%;
  border-radius: var(--border-radius);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

main article p, main article li {
  font-size: 1.2rem;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

code {
  overflow: auto;
}

a.anchor {
  opacity: 0.5;
  font-size: 0.8em;
}

nav.list-nav {
  align-items: center;
  display: block;
}

nav.list-nav a {
  margin: 0.5em;
}
