<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <header>
        {{- partial "header.html" . -}}
        <h1> {{ .Site.Params.Author }}</h1>
        <p>{{ .Site.Params.Description }}</p>
        {{- partial "social.html" . -}}
      </header>
      <main>
        <section>
          <hr>
          <h2>Read my latest blog posts</h2>
        </section>
        {{ range first 3 (where .Site.RegularPages ".Params.type" "=" "post") }}
        <article>
          <a href="{{ .Permalink }}">
            <h3>{{ .Title }}</h3>
          </a>
          <p>{{ .Summary }}</p>
          <p>
            <small>published on {{ .Date.Format "Mon, 02 Jan 2006" }}</small>
          </p>
        </article>
        {{ end }}
      </main>
      <footer>
        {{- partial "footer.html" . -}}
      </footer>
    </body>
</html>
