<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <header>
        {{- partial "header.html" . -}}
        <h1>{{ .Site.Params.Author }}</h1>
        <p>{{ .Site.Params.Description }}</p>
        {{- partial "social.html" . -}}
      </header>
      <main>
        <hr>
        <section>
          <header>
            <h2>See my latest blog posts</h2>
          </header>
          <aside>
            <a href="">
              <h3>Setting up Fedora CoreOS</h3>
            </a>
            <p>Lorem ipsum bla bla bla</p>
          </aside>
          <aside>
            <a href="">
              <h3>Setting up Fedora CoreOS</h3>
            </a>
            <p>Lorem ipsum bla bla bla</p>
          </aside>
          <aside>
            <a href="">
              <h3>Setting up Fedora CoreOS</h3>
            </a>
            <p>Lorem ipsum bla bla bla</p>
          </aside>
        </section>
      </main>
      <footer>
        {{- partial "footer.html" . -}}
      </footer>
    </body>
</html>
